<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333162937101-g1ndqn2dlcc29sg5q7rcbav4njbir18r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333162937101-g1ndqn2dlcc29sg5q7rcbav4njbir18r</string>
	<key>API_KEY</key>
	<string>AIzaSyAIFo45PC-jS11elyj4u9LIJysTrjK2IJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>333162937101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brace.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-2cabe</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-2cabe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333162937101:ios:359825a08059f83fa94e44</string>
</dict>
</plist>